
aside {
  position: relative;
  top: -4.5vh;
  background-color: #fff;
  border-radius: 25px 25px 0px 0px;
}

.information {
  /* height: 50vh; */
  width: 100%;

  box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
  border-radius: 25px 25px 0px 0px;
  display: flex;
}

.date {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 5px;
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;

  color: rgba(153, 153, 153, 1);
  line-height: 17px;

}

.location {
  display: flex;
  width: 40%;
  color: rgba(13, 160, 234, 1);

}

.city {
  background: rgba(13, 159, 234, 0.08);
  font-size: 16px;
  padding-left: 6px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 100%;
  border-radius: 0px 25px 0px 25px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  line-height: 19px;
  text-decoration: none;
  color: rgba(13, 160, 234, 1);
}



.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  max-width: 33%;
}


/* GRID CONTAINER  */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
  background-color: #fff;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  margin: 10px;
  text-align: center;
}


.box {
  text-align: center;
  width: 25vw;
  height: 26vw;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside {
  /* border: 1px solid green; */
}

.sunny {
  font-size: 18px;
  line-height: 21.6px;
}

.temperature {
  display: flex;
}

.temperature p {
  font-size: 64px;
  font-weight: 300;
  line-height: 77px;
  letter-spacing: -0.05em;
}

.temperature span {
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  color: rgba(102, 102, 102, 1);
  top: 10px;
  position: relative;

  line-height: 29px;
}

.down-temperature {
  margin-top: 12px;
}

.next-temperature svg {
  width: 5px;
  height: 8px;
  color: #aaa;
  margin-left: 2px;
}

.arrowUp {
  margin-top: 2px;
}

.arrowDown {
  margin-top: 5px;
}


/* DETAIL INFORMATION  */

.detail-information {
  /* border: 1px solid brown; */
}

.detail-information img {
  height: 6vw;
  width: 6vw;
}

.detail-information p {
  margin: 12px 0 4px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.05em;

  color: #444444;
}

.detail-information i {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1em;

  color: #999999;
}







.flex {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 33.33%;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.br-16px {
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}


/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .detail-information img {
    height: 24px;
    width: 24px;
  }
}


@media only screen and (min-width: 600px) {
  .detail-information p {
    font-size: 20px;
  }

  .detail-information i {
    font-size: 14px;
  }

  .next-temperature p ,svg{
    font-size: 22px;
  }

  .next-temperature svg {
    width: 10px;
    height: auto;

  }
}
